.calculator {
  max-width: 300px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #2c3e50; /* Blackish grey background */
  color: #ffffff; /* White text color */
  display: grid;
  grid-gap: 10px;
  justify-items: center;
}

.display {
  font-size: 2rem;
  padding: 15px;
  background-color: #34495e; /* Darker shade of grey */
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
  height: 36px;
  text-align: right;
  margin-bottom: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

button {
  font-size: 1.5rem;
  padding: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e67e22; /* Orange buttons */
  color: #ffffff; /* White text color */
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d35400; /* Darker shade of orange on hover */
}

.button-operation {
  background-color: #3498db; /* Blue color for operation buttons */
}

.button-operation:hover {
  background-color: #2980b9; /* Darker shade of blue on hover */
}

.button-equal {
  background-color: #f39c12; /* Yellowish-orange color for equal button */
}

.button-equal:hover {
  background-color: #d35400; /* Darker shade of orange on hover */
}

.button-clear {
  background-color: #c0392b; /* Red color for clear button */
}

.button-clear:hover {
  background-color: #a93226; /* Darker shade of red on hover */
}
